<div class="well">
  <%= form_for @order do |f| %>
    <%= f.hidden_field :total_price, :value => @order.total_price %>
    <%= f.hidden_field :status, :value => "Shipped" %>
    <%= f.submit "Confirm Shipment" %>
  <% end %>


</div>
